<a href="https://colab.research.google.com/github/AngeMervaneJdev/ML_AI_1/blob/main/Flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importation
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold,cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.model_selection import GridSearchCV

# Probleme 1  Cross Validation

In [2]:
train_df=pd.read_csv("application_train.csv")
train_df

      SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0         100002       1  ...                       0.0                        1.0
1         100003       0  ...                       0.0                        0.0
2         100004       0  ...                       0.0                        0.0
3         100006       0  ...                       NaN                        NaN
4         100007       0  ...                       0.0                        0.0
...          ...     ...  ...                       ...                        ...
7755      109048       0  ...                       0.0                        1.0
7756      109049       0  ...                       0.0                        7.0
7757      109050       0  ...                       0.0                        1.0
7758      109051       0  ...                       0.0                        0.0
7759      109052       0  ...                       NaN                        NaN

[7760 rows x 122 columns]

In [3]:
# missing values
missings_values=train_df.isnull().sum()
print(missings_values)



# Classification  (train data)

train_num_features=train_df.select_dtypes(include=['int64','float']).columns
train_cat_features=train_df.select_dtypes(include=['object']).columns
print("Numerical column ===> "+train_num_features)
print("*"*20)
print("Categorical column ===> " +train_cat_features)

SK_ID_CURR                       0
TARGET                           0
NAME_CONTRACT_TYPE               0
CODE_GENDER                      0
FLAG_OWN_CAR                     0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     1046
AMT_REQ_CREDIT_BUREAU_WEEK    1046
AMT_REQ_CREDIT_BUREAU_MON     1046
AMT_REQ_CREDIT_BUREAU_QRT     1046
AMT_REQ_CREDIT_BUREAU_YEAR    1046
Length: 122, dtype: int64
Index(['Numerical column ===> SK_ID_CURR', 'Numerical column ===> TARGET',
       'Numerical column ===> CNT_CHILDREN',
       'Numerical column ===> AMT_INCOME_TOTAL',
       'Numerical column ===> AMT_CREDIT', 'Numerical column ===> AMT_ANNUITY',
       'Numerical column ===> AMT_GOODS_PRICE',
       'Numerical column ===> REGION_POPULATION_RELATIVE',
       'Numerical column ===> DAYS_BIRTH',
       'Numerical column ===> DAYS_EMPLOYED',
       ...
       'Numerical column ===> FLAG_DOCUMENT_18',
       'Numerical column ===> FLAG_DOCUMENT_19',
       'Numerical column ===> FLAG_DOCUMENT_20',
       'Numerical column ===> FLAG_DOCUMENT_21',
       'Numerical column ===> AMT_REQ_CREDIT_BUREAU_HOUR',
       'Numerical column ===> AMT_REQ_CREDIT_BUREAU_DAY',
       'Numerical column ===> AMT_REQ_CREDIT_BUREAU_WEEK',
       'Numerical column ===> AMT_REQ_CREDIT_BUREAU_MON',
       'Numerical column ===> AMT_REQ_CREDIT_BUREAU_QRT',
       'Numerical column ===> AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=106)
********************
Index(['Categorical column ===> NAME_CONTRACT_TYPE',
       'Categorical column ===> CODE_GENDER',
       'Categorical column ===> FLAG_OWN_CAR',
       'Categorical column ===> FLAG_OWN_REALTY',
       'Categorical column ===> NAME_TYPE_SUITE',
       'Categorical column ===> NAME_INCOME_TYPE',
       'Categorical column ===> NAME_EDUCATION_TYPE',
       'Categorical column ===> NAME_FAMILY_STATUS',
       'Categorical column ===> NAME_HOUSING_TYPE',
       'Categorical column ===> OCCUPATION_TYPE',
       'Categorical column ===> WEEKDAY_APPR_PROCESS_START',
       'Categorical column ===> ORGANIZATION_TYPE',
       'Categorical column ===> FONDKAPREMONT_MODE',
       'Categorical column ===> HOUSETYPE_MODE',
       'Categorical column ===> WALLSMATERIAL_MODE',
       'Categorical column ===> EMERGENCYSTATE_MODE'],
      dtype='object')

In [4]:
# ----> numerical columns

nan_train_cols=list(train_df[train_num_features].isnull().columns)
imp_mean = SimpleImputer(missing_values=np.nan,strategy='mean')
imp_mean.fit(train_df[nan_train_cols]) # fitting
train_df[nan_train_cols] = imp_mean.transform(train_df[nan_train_cols]) # transform

# ----> categorical columns
for i in train_cat_features:
  train_df[i].fillna("None",inplace=True)
train_df

      SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0       100002.0     1.0  ...                  0.000000                   1.000000
1       100003.0     0.0  ...                  0.000000                   0.000000
2       100004.0     0.0  ...                  0.000000                   0.000000
3       100006.0     0.0  ...                  0.268245                   1.886804
4       100007.0     0.0  ...                  0.000000                   0.000000
...          ...     ...  ...                       ...                        ...
7755    109048.0     0.0  ...                  0.000000                   1.000000
7756    109049.0     0.0  ...                  0.000000                   7.000000
7757    109050.0     0.0  ...                  0.000000                   1.000000
7758    109051.0     0.0  ...                  0.000000                   0.000000
7759    109052.0     0.0  ...                  0.268245                   1.886804

[7760 rows x 122 columns]

In [5]:
# encoding


scale=LabelEncoder()
# ---> train data
for col in train_cat_features:
  train_df[col]=scale.fit_transform(train_df[col])
train_df

      SK_ID_CURR  TARGET  ...  AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0       100002.0     1.0  ...                   0.000000                    1.000000
1       100003.0     0.0  ...                   0.000000                    0.000000
2       100004.0     0.0  ...                   0.000000                    0.000000
3       100006.0     0.0  ...                   0.268245                    1.886804
4       100007.0     0.0  ...                   0.000000                    0.000000
...          ...     ...  ...                        ...                         ...
7755    109048.0     0.0  ...                   0.000000                    1.000000
7756    109049.0     0.0  ...                   0.000000                    7.000000
7757    109050.0     0.0  ...                   0.000000                    1.000000
7758    109051.0     0.0  ...                   0.000000                    0.000000
7759    109052.0     0.0  ...                   0.268245                    1.886804

[7760 rows x 122 columns]

In [6]:
X = train_df.drop(['TARGET'],axis=1).values
y = train_df.TARGET

kf = KFold(n_splits=4)
kf.get_n_splits(X)

cross_val_score(DecisionTreeClassifier(),X,y,cv=kf)

array([0.8257732 , 0.85051546, 0.85670103, 0.82061856])

# [Problème 2] Recherche de grille

In [13]:
tree_para = {'criterion':['gini','entropy'],'max_depth':[1,2,4,5,6,7,8,0,120,150]}
clf = GridSearchCV(DecisionTreeClassifier(), tree_para,cv=5)
clf.fit(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
10 fits failed out of a total of 100.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 942, in fit
    X_idx_sorted=X_idx_sorted,
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 306, in fit
    raise ValueError("max_depth must be greater than zero. ")
ValueError: max_depth must be greater than zero.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.92293814 0.92268041 0.92113402 0.91701031 0.91417526 0.90837629
 0.9056701         nan 0.83492268 0.83466495 0.92293814 0.92293814
 0.92229381 0.91997423 0.91481959 0.91275773 0.90979381        nan
 0.86159794 0.86159794]
  category=UserWarning,

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [1, 2, 4, 5, 6, 7, 8, 0, 120, 150]})

In [12]:
print("Best params ==> "+str(clf.best_params_))
print("Best index ==> "+str(clf.best_index_))

Best params ==> {'criterion': 'gini', 'max_depth': 1}
Scorer ==> <function _passthrough_scorer at 0x7fceeb945320>
Best index ==> 0

# [Problème 3] Enquête de Kaggle Notebooks

# [Problem 4] Creating a model with high generalization performance