<a href="https://colab.research.google.com/github/AngeMervaneJdev/ML_AI_1/blob/main/Flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Importation
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold,cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
import scipy
from sklearn. metrics import confusion_matrix
from sklearn.metrics import accuracy_score



from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import StackingClassifier
from matplotlib import pyplot

# Probleme 1  Cross Validation

In [3]:
train_df=pd.read_csv("application_train.csv")
train_df

        SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0           100002  ...                         1.0
1           100003  ...                         0.0
2           100004  ...                         0.0
3           100006  ...                         NaN
4           100007  ...                         0.0
...            ...  ...                         ...
307506      456251  ...                         NaN
307507      456252  ...                         NaN
307508      456253  ...                         1.0
307509      456254  ...                         0.0
307510      456255  ...                         1.0

[307511 rows x 122 columns]

In [4]:
# missing values
missings_values=train_df.isnull().sum()
print(missings_values)



# Classification  (train data)

train_num_features=train_df.select_dtypes(include=['int64','float']).columns
train_cat_features=train_df.select_dtypes(include=['object']).columns
print("Numerical column ===> "+train_num_features)
print("*"*20)
print("Categorical column ===> " +train_cat_features)

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_MON     41519
AMT_REQ_CREDIT_BUREAU_QRT     41519
AMT_REQ_CREDIT_BUREAU_YEAR    41519
Length: 122, dtype: int64
Index(['Numerical column ===> SK_ID_CURR', 'Numerical column ===> TARGET',
       'Numerical column ===> CNT_CHILDREN',
       'Numerical column ===> AMT_INCOME_TOTAL',
       'Numerical column ===> AMT_CREDIT', 'Numerical column ===> AMT_ANNUITY',
       'Numerical column ===> AMT_GOODS_PRICE',
       'Numerical column ===> REGION_POPULATION_RELATIVE',
       'Numerical column ===> DAYS_BIRTH',
       'Numerical column ===> DAYS_EMPLOYED',
       ...
       'Numerical column ===> FLAG_DOCUMENT_18',
       'Numerical column ===> FLAG_DOCUMENT_19',
       'Numerical column ===> FLAG_DOCUMENT_20',
       'Numerical column ===> FLAG_DOCUMENT_21',
       'Numerical column ===> AMT_REQ_CREDIT_BUREAU_HOUR',
       'Numerical column ===> AMT_REQ_CREDIT_BUREAU_DAY',
       'Numerical column ===> AMT_REQ_CREDIT_BUREAU_WEEK',
       'Numerical column ===> AMT_REQ_CREDIT_BUREAU_MON',
       'Numerical column ===> AMT_REQ_CREDIT_BUREAU_QRT',
       'Numerical column ===> AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=106)
********************
Index(['Categorical column ===> NAME_CONTRACT_TYPE',
       'Categorical column ===> CODE_GENDER',
       'Categorical column ===> FLAG_OWN_CAR',
       'Categorical column ===> FLAG_OWN_REALTY',
       'Categorical column ===> NAME_TYPE_SUITE',
       'Categorical column ===> NAME_INCOME_TYPE',
       'Categorical column ===> NAME_EDUCATION_TYPE',
       'Categorical column ===> NAME_FAMILY_STATUS',
       'Categorical column ===> NAME_HOUSING_TYPE',
       'Categorical column ===> OCCUPATION_TYPE',
       'Categorical column ===> WEEKDAY_APPR_PROCESS_START',
       'Categorical column ===> ORGANIZATION_TYPE',
       'Categorical column ===> FONDKAPREMONT_MODE',
       'Categorical column ===> HOUSETYPE_MODE',
       'Categorical column ===> WALLSMATERIAL_MODE',
       'Categorical column ===> EMERGENCYSTATE_MODE'],
      dtype='object')

In [5]:
# ----> numerical columns

nan_train_cols=list(train_df[train_num_features].isnull().columns)
imp_mean = SimpleImputer(missing_values=np.nan,strategy='mean')
imp_mean.fit(train_df[nan_train_cols]) # fitting
train_df[nan_train_cols] = imp_mean.transform(train_df[nan_train_cols]) # transform

# ----> categorical columns
for i in train_cat_features:
  train_df[i].fillna("None",inplace=True)
train_df

        SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0         100002.0  ...                    1.000000
1         100003.0  ...                    0.000000
2         100004.0  ...                    0.000000
3         100006.0  ...                    1.899974
4         100007.0  ...                    0.000000
...            ...  ...                         ...
307506    456251.0  ...                    1.899974
307507    456252.0  ...                    1.899974
307508    456253.0  ...                    1.000000
307509    456254.0  ...                    0.000000
307510    456255.0  ...                    1.000000

[307511 rows x 122 columns]

In [6]:
# encoding


scale=LabelEncoder()
# ---> train data
for col in train_cat_features:
  train_df[col]=scale.fit_transform(train_df[col])
train_df

        SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0         100002.0  ...                    1.000000
1         100003.0  ...                    0.000000
2         100004.0  ...                    0.000000
3         100006.0  ...                    1.899974
4         100007.0  ...                    0.000000
...            ...  ...                         ...
307506    456251.0  ...                    1.899974
307507    456252.0  ...                    1.899974
307508    456253.0  ...                    1.000000
307509    456254.0  ...                    0.000000
307510    456255.0  ...                    1.000000

[307511 rows x 122 columns]

In [7]:
X = train_df.drop(['TARGET'],axis=1).values
y = train_df.TARGET

kf = KFold(n_splits=4)
kf.get_n_splits(X)

cross_val_score(DecisionTreeClassifier(),X,y,cv=kf)

array([0.76829522, 0.85508208, 0.85470486, 0.73803608])

# [ProblÃ¨me 2] Recherche de grille

In [10]:
tree_para = {'criterion':['gini','entropy'],'max_depth':[1,2,4,5,6,7,8,0,120,150]}
clf = GridSearchCV(DecisionTreeClassifier(), tree_para,cv=5)
clf.fit(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
10 fits failed out of a total of 100.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 942, in fit
    X_idx_sorted=X_idx_sorted,
  File "/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py", line 306, in fit
    raise ValueError("max_depth must be greater than zero. ")
ValueError: max_depth must be greater than zero.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.92261193 0.92192108 0.92002081 0.91673944 0.91363003 0.90792936
 0.89894656        nan 0.82723767 0.8341548  0.92261193 0.92261193
 0.9207118  0.91846626 0.90688801 0.90377965 0.89790656        nan
 0.86404688 0.86232052]
  category=UserWarning,

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [1, 2, 4, 5, 6, 7, 8, 0, 120, 150]})

In [11]:
print("Best params ==> "+str(clf.best_params_))
print("Best index ==> "+str(clf.best_index_))
print("score ==> "+str(clf.score))

Best params ==> {'criterion': 'gini', 'max_depth': 1}
Best index ==> 0
score ==> <bound method BaseSearchCV.score of GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [1, 2, 4, 5, 6, 7, 8, 0, 120, 150]})>

# [ProblÃ¨me 3] EnquÃªte de Kaggle Notebooks

## 1- idee de HANANE NOUR MOUSSA
 he used
AMT_GOODS_PRICE, REGION_POPULATION_RELATIVE, DAYS_ID_PUBLISH and DAYS_BIRTH

result: he say:

I would have expected the models' performance to improve but it turns out that it didn't. The accuracy remained almost the same for both models, while the Precision, Recall, and F1 score

## 1- idÃ©e de

# [Problem 4] Creating a model with high generalization performance

In [13]:
# compare ensemble to each baseline classifier

 
# get a stacking ensemble of models
def get_stacking():
	# define the base models
	level0 = list()
	level0.append(('lr', LogisticRegression()))
	level0.append(('knn', KNeighborsClassifier()))
	level0.append(('cart', DecisionTreeClassifier()))
	level0.append(('bayes', GaussianNB()))
	level0.append(('svm', SVC()))
 
	# define meta learner model
	level1 = LogisticRegression()
	# define the stacking ensemble
	model = StackingClassifier(estimators=level0, final_estimator=level1, cv=5)
	return model
 
# get a list of models to evaluate
def get_models():
	models = dict()
	models['lr'] = LogisticRegression()
	models['knn'] = KNeighborsClassifier()
	models['cart'] = DecisionTreeClassifier()
	models['svm'] = SVC()
	models['bayes'] = GaussianNB()
	models['stacking'] = get_stacking()
	return models
 
# evaluate a give model using cross-validation
def evaluate_model(model, X, y):
	cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
	scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
	return scores
 
# define dataset
X, y = X,y
# get the models to evaluate
models = get_models()
# evaluate the models and store results
results, names = list(), list()
for name, model in models.items():
	scores = evaluate_model(model, X, y)
	results.append(scores)
	names.append(name)
	print('>%s %.3f (%.3f)' % (name, mean(scores), std(scores)))
# plot model performance for comparison

>lr 0.923 (0.001)
>knn 0.917 (0.003)
>cart 0.855 (0.011)
>svm 0.923 (0.001)
>bayes 0.923 (0.001)
>stacking 0.923 (0.001)

The best model to use is SVC
then we will improve this model for the prediction

In [14]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)

In [9]:
# CHERCHEZ FOR PARAMETERS
def cherchez(estimator, param_grid, search):
    """
    This is a helper function for tuning hyperparameters using teh two search methods.
    Methods must be GridSearchCV or RandomizedSearchCV.
    Inputs:
        estimator: Logistic regression, SVM, KNN, etc
        param_grid: Range of parameters to search
        search: Grid search or Randomized search
    Output:
        Returns the estimator instance, clf
    
    """   
    try:
        if search == "grid":
            clf = GridSearchCV(
                estimator=estimator, 
                param_grid=param_grid, 
                scoring=None,
                n_jobs=-1, 
                cv=10, 
                verbose=0,
                return_train_score=True
            )
        elif search == "random":           
            clf = RandomizedSearchCV(
                estimator=estimator,
                param_distributions=param_grid,
                n_iter=10,
                n_jobs=-1,
                cv=10,
                verbose=0,
                random_state=1,
                return_train_score=True
            )
    except:
        print('Search argument has to be "grid" or "random"')
        
        
    # Fit the model
    clf.fit(X=X_train, y=y_train)
    
    return clf

In [16]:
# Logistic Regression
# Paramaters
logreg_params = {} 
logreg_params["C"] =  [0.01, 0.1, 10, 100]
logreg_params["fit_intercept"] =  [True, False]
logreg_params["warm_start"] = [True,False]
logreg_params["random_state"] = [1]

lr_dist = {}
lr_dist["C"] = scipy.stats.expon(scale=.01)
lr_dist["fit_intercept"] =  [True, False]
lr_dist["warm_start"] = [True,False]
lr_dist["random_state"] = [1]

logregression_grid = cherchez(LogisticRegression(), logreg_params, search="grid")
acc = accuracy_score(y_true=y_test, y_pred=logregression_grid.predict(X_test))
cfmatrix_grid = confusion_matrix(y_true=y_test, y_pred=logregression_grid.predict(X_test))
print("**Grid search results**")
print("Best training accuracy:\t", logregression_grid.best_score_)
print("Test accuracy:\t", acc)

logregression_random = cherchez(LogisticRegression(), lr_dist, search="random")
acc = accuracy_score(y_true=y_test, y_pred=logregression_random.predict(X_test))
cfmatrix_rand = confusion_matrix(y_true=y_test, y_pred=logregression_random.predict(X_test))
print("**Random search results**")
print("Best training accuracy:\t", logregression_random.best_score_)
print("Test accuracy:\t", acc)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

**Grid search results**
Best training accuracy:	 0.9228988518607315
Test accuracy:	 0.9220303506017792
**Random search results**
Best training accuracy:	 0.9228988518607315
Test accuracy:	 0.9220303506017792

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

# Probleme 5 Application

In [25]:
test_df=pd.read_csv("application_test.csv")
missings_values=test_df.isnull().sum()
print(missings_values)



# Classification  (train data)

train_num_features=test_df.select_dtypes(include=['int64','float']).columns
train_cat_features=test_df.select_dtypes(include=['object']).columns

# ----> numerical columns

nan_train_cols=list(test_df[train_num_features].isnull().columns)
imp_mean = SimpleImputer(missing_values=np.nan,strategy='mean')
imp_mean.fit(test_df[nan_train_cols]) # fitting
test_df[nan_train_cols] = imp_mean.transform(test_df[nan_train_cols]) # transform

# ----> categorical columns
for i in train_cat_features:
  test_df[i].fillna("None",inplace=True)

# encoding


scale=LabelEncoder()
# ---> train data
for col in train_cat_features:
  test_df[col]=scale.fit_transform(test_df[col])

SK_ID_CURR                       0
NAME_CONTRACT_TYPE               0
CODE_GENDER                      0
FLAG_OWN_CAR                     0
FLAG_OWN_REALTY                  0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     6049
AMT_REQ_CREDIT_BUREAU_WEEK    6049
AMT_REQ_CREDIT_BUREAU_MON     6049
AMT_REQ_CREDIT_BUREAU_QRT     6049
AMT_REQ_CREDIT_BUREAU_YEAR    6049
Length: 121, dtype: int64

In [27]:

test_df2 = test_df[train_df.columns.drop('TARGET')]

X = train_df.drop(['TARGET'],axis=1).values
y = train_df.TARGET

lr_dist = {}
lr_dist["C"] = scipy.stats.expon(scale=.01)
lr_dist["fit_intercept"] =  [True, False]
lr_dist["warm_start"] = [True,False]
lr_dist["random_state"] = [1]

logregression_random = cherchez(LogisticRegression(), lr_dist, search="random")

y_pred=logregression_random.predict(test_df2)
y_pred

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

array([0., 0., 0., ..., 0., 0., 0.])

In [28]:
len(y_pred)

48744

In [31]:
# preparer la soumission sur Kaggle
ids = test_df['SK_ID_CURR']
ids = ids.astype(int)

submission = pd.DataFrame({'SK_ID_CURR': ids, 'TARGET': y_pred})
submission.to_csv("submission.csv", index=False)