<a href="https://colab.research.google.com/github/AngeMervaneJdev/ML_AI_1/blob/main/Home3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Probleme 1

## Home Data analysis
* ### What to learn and what to predict?

  *variety of alternative data--including telco and transactional information--to predict their clients' repayment abilities.*
* ### What kind of file to create and submit to Kaggle?

   *The file should contain a header and have the following format:*

        SK_ID_CURR,TARGET
        100001,0.1
        100005,0.9
        100013,0.2
        etc.
* ### What kind of index value will be used to evaluate the submissions?

  *Submissions are evaluated on area under the ROC curve between the predicted probability and the observed target.*

In [ ]:
# importations 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import make_classification

import numpy as np
import pandas as pd

In [ ]:
print('Probleme 2\n')
# import Sk Learn train test split


X_test=pd.read_csv("application_test.csv")

X_train=pd.read_csv("application_train.csv")

#############################################################################################


# Getting data 

print("\nThe shape of test data : "+str(X_test.shape))
print("\nThe shape of test data : "+str(X_train.shape))


########################################__MISSING_VALUES__#####################################################

# Searching for missing values (preparation)
### train data
missings=X_train.isnull().sum()

#### table of missing values
missing_values=pd.concat([missings,missings/len(X_train)],axis=1)
missing_train_values=missing_values[missing_values[0]!=0].rename(columns ={0: 'Missing Values',1:'Percentage'})

print('*'*150)
print(missing_train_values)
print("\n"*2)

### test data
missings=X_test.isnull().sum()

#### table of missing values
missing_values=pd.concat([missings,missings/len(X_test)],axis=1)
missing_test_values=missing_values[missing_values[0]!=0].rename(columns ={0: 'Missing Values',1:'Percentage'})
print('*'*150)
print(missing_test_values)
print("\n"*2)


#######################################__NUM_COL_AND_CAT_COLS__######################################################

# Classification  (test data)
test_num_features=X_test.select_dtypes(include=['int64','float']).columns
test_cat_features=X_test.select_dtypes(include=['object']).columns

# Classification  (train data)
train_num_features=X_train.select_dtypes(include=['int64','float']).columns
train_cat_features=X_train.select_dtypes(include=['object']).columns

#######################################__INPUTATION___######################################################


#### replacing missing values (test data)


# ----> numerical columns

nan_test_cols=list(X_test[test_num_features].isnull().columns)
imp_mean = SimpleImputer(missing_values=np.nan,strategy='mean')
imp_mean.fit(X_test[nan_test_cols]) # fitting
X_test[nan_test_cols] = imp_mean.transform(X_test[nan_test_cols]) # transform

# ----> categorical columns
for i in test_cat_features:
  X_test[i].fillna("None",inplace=True)


#### replacing missing values (train data)


# ----> numerical columns

nan_train_cols=list(X_train[train_num_features].isnull().columns)
imp_mean = SimpleImputer(missing_values=np.nan,strategy='mean')
imp_mean.fit(X_train[nan_train_cols]) # fitting
X_train[nan_train_cols] = imp_mean.transform(X_train[nan_train_cols]) # transform

# ----> categorical columns
for i in train_cat_features:
  X_train[i].fillna("None",inplace=True)
print("\n"*2)
print('*'*50)
print(X_test.isnull().sum().sort_values(ascending=True))
print("\n"*2)
########################################__ENCODING__DATA__WITH_LABEL_ENCODER__#####################################################

scale=LabelEncoder()
# ---> test data
for col in test_cat_features:
  X_test[col]=scale.fit_transform(X_test[col])
# ---> train data
for col in train_cat_features:
  X_train[col]=scale.fit_transform(X_train[col])

##################__AFFICHAGE__######################
print('*'*150)
print("\n"*2)

print(X_test.head)
print("\n"*2)

print('*'*150)
print("\n"*2)
print(X_train.head)
print('*'*150)
print("\n"*2)
#####################################################__STANDARISATION__#############################################################

X = X_train[X_test.columns]
y = X_train['TARGET']


X_train1,X_test1,y_train1,y_test1 = train_test_split(X,y,test_size=0.33,random_state=0)

scaler = StandardScaler()
scaler.fit(X_train1)
X_train1 = scaler.transform(X_train1)
X_test1 = scaler.transform(X_test1)


#########################################__PREDICTION__##################################################

model =DecisionTreeClassifier().fit(X_train1,y_train1) 
y_pred = model.predict(X_test)

y_pred

Probleme 2


The shape of test data : (48744, 121)

The shape of test data : (287286, 122)
******************************************************************************************************************************************************
                            Missing Values  Percentage
AMT_ANNUITY                             12    0.000042
AMT_GOODS_PRICE                        259    0.000902
NAME_TYPE_SUITE                       1199    0.004174
OWN_CAR_AGE                         189628    0.660067
OCCUPATION_TYPE                      89991    0.313245
...                                    ...         ...
AMT_REQ_CREDIT_BUREAU_DAY            38814    0.135106
AMT_REQ_CREDIT_BUREAU_WEEK           38814    0.135106
AMT_REQ_CREDIT_BUREAU_MON            38814    0.135106
AMT_REQ_CREDIT_BUREAU_QRT            38814    0.135106
AMT_REQ_CREDIT_BUREAU_YEAR           38814    0.135106

[87 rows x 2 columns]



******************************************************************************************************************************************************
                            Missing Values  Percentage
AMT_ANNUITY                             24    0.000492
NAME_TYPE_SUITE                        911    0.018689
OWN_CAR_AGE                          32312    0.662892
OCCUPATION_TYPE                      15605    0.320142
EXT_SOURCE_1                         20532    0.421221
...                                    ...         ...
AMT_REQ_CREDIT_BUREAU_DAY             6049    0.124097
AMT_REQ_CREDIT_BUREAU_WEEK            6049    0.124097
AMT_REQ_CREDIT_BUREAU_MON             6049    0.124097
AMT_REQ_CREDIT_BUREAU_QRT             6049    0.124097
AMT_REQ_CREDIT_BUREAU_YEAR            6049    0.124097

[64 rows x 2 columns]






**************************************************
SK_ID_CURR                      0
TOTALAREA_MODE                  0
HOUSETYPE_MODE                  0
FONDKAPREMONT_MODE              0
NONLIVINGAREA_MEDI              0
                               ..
REG_REGION_NOT_LIVE_REGION      0
HOUR_APPR_PROCESS_START         0
WEEKDAY_APPR_PROCESS_START      0
YEARS_BEGINEXPLUATATION_MODE    0
AMT_REQ_CREDIT_BUREAU_YEAR      0
Length: 121, dtype: int64



******************************************************************************************************************************************************



<bound method NDFrame.head of        SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0        100001.0  ...                    0.000000
1        100005.0  ...                    3.000000
2        100013.0  ...                    4.000000
3        100028.0  ...                    3.000000
4        100038.0  ...                    1.983769
...           ...  ...                         ...
48739    456221.0  ...                    1.000000
48740    456222.0  ...                    1.983769
48741    456223.0  ...                    1.000000
48742    456224.0  ...                    2.000000
48743    456250.0  ...                    4.000000

[48744 rows x 121 columns]>



******************************************************************************************************************************************************



<bound method NDFrame.head of         SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0         100002.0  ...                    1.000000
1         100003.0  ...                    0.000000
2         100004.0  ...                    0.000000
3         100006.0  ...                    1.900101
4         100007.0  ...                    0.000000
...            ...  ...                         ...
287281    432775.0  ...                    4.000000
287282    432776.0  ...                    1.000000
287283    432777.0  ...                    2.000000
287284    432778.0  ...                    1.000000
287285    432779.0  ...                    1.900101

[287286 rows x 122 columns]>
******************************************************************************************************************************************************

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

array([1., 0., 0., ..., 1., 0., 1.])

In [ ]:
X_test

       SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0        100001.0  ...                    0.000000
1        100005.0  ...                    3.000000
2        100013.0  ...                    4.000000
3        100028.0  ...                    3.000000
4        100038.0  ...                    1.983769
...           ...  ...                         ...
48739    456221.0  ...                    1.000000
48740    456222.0  ...                    1.983769
48741    456223.0  ...                    1.000000
48742    456224.0  ...                    2.000000
48743    456250.0  ...                    4.000000

[48744 rows x 121 columns]

In [ ]:
print("Probleme 3\n")
#predictition
# df_test=pd.read_csv("application_test.csv")
y_test_pred = model.predict(X_test)

y_test_pred

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

Probleme 3

array([1., 0., 0., ..., 1., 0., 1.])

In [ ]:
#soumission sur Kaggle

submission = pd.DataFrame({'SK_ID_CURR':X_test.SK_ID_CURR, 'TARGET': y_test_pred})
print(submission.to_string(index=False))

# Feature engeneering

In [ ]:
print("Probleme 4\n")